html,
body {
    background-color: rgb(95, 121, 97);
    padding: 0;
    margin: 0;
}

#main-app {
    background-color: rgb(146, 170, 148);
    background-image: url("https://i.pinimg.com/736x/2c/83/cd/2c83cd639ccd229f6650db09f632e6b3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 300px;
    border-radius: 2%;
    background-position-y: -120px;
    border-style: solid;
    border-color: bisque;
}

#input-field {
    margin-bottom: 10px;
    background-color: rgb(197, 238, 201);
    border-style: groove;
    border-radius: 10px;
    border-color: rgb(160, 235, 181);
    text-align: center;
}

#add-button {
    margin-bottom: -100px;
    border-style: double;
    border-radius: 5px;
    border-color: rgb(241, 134, 134);
    background-color: rgb(135, 223, 223);
}